
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$background-color:#F2F2F2;
$second_background-color:#E9E9E9;

$logo_title-font: 'Shrikhand', serif;
$text-font: 'Roboto', serif;

body,h1,h2,h3,p,ul,li{
    margin: 0;
    padding: 0;
}
h1,h2,h3{
    font-size: 100%;
}
ul{
    list-style-type: none;
}

@mixin desktop {
    @media screen and (min-width: 1025px){
        @content;
    }
}

.header_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $second_background-color;
    @include desktop{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: transparent;
    }
    &__logo{
        background: white;
        width: 100%;
        text-align: center;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
        border-bottom: 1px solid #f4f4f4;
        padding: 5px 45px;
        @include desktop{
            text-align: left;
            box-shadow: none;
        }
        img{
            height: 55px;
            width: 180px;
        }
    }
}
.search{
    display: flex;
    align-items: center;
    margin: auto;
    width: 220px;
    @include desktop{
        background: linear-gradient($primary-color, $tertiary-color);
        padding: 3px;
        width: 50%;
        border-radius: 25px;
        margin-right: 25px;
    }
    &__icon{
        padding: 8px 10px;
    }
    &__input_box{
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
        flex: 1 0 0;
        input{
            background-color: transparent;
            border: none;
            padding: 15px 10px;
            width: 100%;
            @include desktop{
            
            &::placeholder{
                color: white;
            }
        }
        }
    }
}
