// Variables 

$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$background-color:#F2F2F2;
$second_background-color:#E9E9E9;

$logo_title-font: 'Shrikhand', serif;
$text-font: 'Roboto', serif;
