
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$background-color:#F2F2F2;
$second_background-color:#e4e3e3;

$logo_title-font: 'Shrikhand', serif;
$text-font: 'Roboto', serif;

$first-font-size: 21px;
$second-font-size: 18px;
$font-weight: bold;

body,h1,h2,h3,p,ul,li{
    margin: 0;
    padding: 0;
}
h1,h2,h3{
    font-size: 100%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}

@mixin desktop {
    @media screen and (min-width: 1025px){
        @content;
    }
}

.header_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $second_background-color;
    @include desktop{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: transparent;
    }
    &__logo{
        background: white;
        width: 100%;
        text-align: center;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
        border-bottom: 1px solid #f4f4f4;
        padding: 5px 45px;
        @include desktop{
            text-align: left;
            box-shadow: none;
        }
        img{
            height: 55px;
            width: 170px;
        }
    }
}
.search{
    display: flex;
    align-items: center;
    margin: auto;
    margin-left: 95px;
    width: 220px;
    @include desktop{
        background: linear-gradient($primary-color, $tertiary-color, $secondary-color);
        padding: 3px;
        width: 50%;
        border-radius: 25px;
        margin-right: 25px;
    }
    &__icon{
        padding: 8px 10px;
    }
    &__input_box{
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
        flex: 1 0 0;
        input{
            background-color: transparent;
            border: none;
            padding: 15px 10px;
            width: 100%;
            @include desktop{
            
            &::placeholder{
                color: white;
            }
        }
        }
    }
}
main{
    display: flex;
    flex-flow: column nowrap;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.reservation{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $background-color;
    padding: 35px 5px;
    width: 100%;
    
    &__text{
        margin-bottom: 25px;
        h1{
            font-family: $logo_title-font;
            font-size:$first-font-size ;
            margin-bottom: 10px;
        }
        h2{
            font-family: $text-font;
            font-size: $second-font-size;
            font-weight: $font-weight;
        }
    }
    &__btn{
        display: inline-block;
        background: linear-gradient($secondary-color, $primary-color);
        cursor: pointer;
        border: 0;
        text-align: center;
        border-radius: 25px;
        font-size: 15px;
        font-weight:normal;
        color: white;
        box-shadow: 0 5px 15px 0 #c3c3c357;
        padding: 15px 25px;
        margin: 0 10px 20px 1px;

        &:hover{
            background: linear-gradient($secondary-color, rgba(147,86,220,0.8));
            box-shadow: 0 5px 15px 0 rgb(131, 131, 131);
            transition: 0.5s;
        }
    }
}

.functioning{
    display: flex;
    flex-direction: column;
    margin: 18px 14px;
    padding: 5px;
    &__title{
        font-size: 20px;
        font-family: $logo_title-font;
        margin-bottom: 20px;
    }
    &__btn_box{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        @include desktop {
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           width: 100%;
        }
    }
    &__btn{
        flex: 1 0 auto;
        margin-bottom: 20px;
        background: $second_background-color;
        border-radius: 35px;
        text-align: justify;
        font-size: 20px;
        padding: 20px 8px;
        box-shadow: 0 5px 15px 0 #c3c3c357;
        &:hover{
            background: #f0eaf8;
            box-shadow: 1px 1px 5px 1px #e1d2f3;
        }
        @include desktop{
            display: flex;
            margin-left: 20px;
            padding: 20px 8px;
        }
        &--circle{
            position: absolute;
            text-align: center;
            background: $primary-color;
            color: white;
            border-radius: 100%;
            height: 30px;
            width: 30px;
            left: 11px;
            margin-top: -5px;
            padding: 1px 2px;
            @include desktop{
                display: block;
                position: relative;
                left: -22px;
                top: 2px;
            }
        }
        &--icon{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: absolute;
            margin: 1px 0 0 30px;
            color: gray;
            &:hover{
                color: $primary-color;
            }
            @include desktop{
                margin-left: 30px;
                margin-top: 3px;
            }
            
        }
        &--text{
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 15px;
            font-weight: $font-weight;
            font-family: $logo_title-font;
            @include desktop{
                margin-left: 30px;
            }
        }
    }
}


@mixin tablette {
    @media screen and (min-width: 768px) and (max-width: 1024px){
        @content;
    } 
}

.store{
    background-color: $background-color;
    padding: 15px;
    padding-top: 50px; 
    margin-top: 100px;
    @include tablette{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px;
        height: 100%;
    }
    @include desktop{
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        align-items: center;
        padding: 0px;
        height: 100%;
        background-color: white;
    }
    &__title{
        font-family: $logo_title-font;
        font-size: 20px;
        margin-bottom: 20px;
        @include tablette{
            padding: 20px 0 20px 20px;
            width: 100%;
        }
        @include desktop{
            position: absolute;
            top: 550px;
            margin-left: 15px;
        }
    }
    &__card{
        display: flex;
        flex-direction: column;
        
        background: white;
        border-radius: 20px;
        box-shadow: 1px 5px 1px 1px #eeeeee;
        margin-bottom: 25px;
        &--img{
            width: 100%;
            object-fit: cover;
            max-height: 200px;
            border-top-right-radius: 1em;
            border-top-left-radius: 1em;
            @include desktop{
                max-width: 275px;
                height: 200px;
            }
            @include tablette{
                max-width: 325px;
                height: 200px;
            }
        }
        @include tablette{
            margin: 10px;
        }
        @include desktop{
            margin-left: 10px;
            margin-right: 10px;
        }
        &--new{
            background: $tertiary-color;
            color: #18705c;
            position: absolute;
            top: 10px;
            right: -88px;
            margin: 5px 100px 0 150px;
            padding: 5px 15px;
            font-weight: $font-weight;
            z-index: 1000;
        }
    }
}
.new{
    position: relative;
    max-height: 200px;
}
.card__text_and_icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 15px;
    h1{
        font-family: $logo_title-font;
        font-size: 18px;
        margin-left: 15px;
        margin-bottom: 3px;
    }
    p{
        font-family: $text-font;
        font-weight: $font-weight;
        font-size: 15px;
        margin-left: 15px;
        margin-bottom: 10px;
    }
    &__heart{
        position: relative;
        margin-right: 20px;
        margin-top: 4px;
        i{
            font-size: 25px;
            left: 50%;
            &:active{
                background-color: $primary-color;
                overflow: hidden;
            }
        }
    }
}

.footer{
    background: rgb(53, 53, 53);
    color: white;
    padding: 20px;
    &__title{
        &--ohmy{
            font-family: $logo_title-font;
            font-size: 20px;
            margin-bottom: 20px;
        }
        
    }
    &__text{
        font-family: $text-font;
        font-weight: $font-weight;
        &--icon_one{
            margin-right: 15px;
        }
        &--icon_two{
            margin-right: 8px;
        }
        li{
            margin-bottom: 8px;
            a{
                color: white;
            }
        }
    }
}
