body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-size: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.header_home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4e3e3;
}
@media screen and (min-width: 1025px) {
  .header_home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
  }
}
.header_home__logo {
  background: white;
  width: 100%;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #f4f4f4;
  padding: 5px 45px;
}
@media screen and (min-width: 1025px) {
  .header_home__logo {
    text-align: left;
    box-shadow: none;
  }
}
.header_home__logo img {
  height: 55px;
  width: 170px;
}

.search {
  display: flex;
  align-items: center;
  margin: auto;
  margin-left: 95px;
  width: 220px;
}
@media screen and (min-width: 1025px) {
  .search {
    background: linear-gradient(#9356DC, #99E2D0, #FF79DA);
    padding: 3px;
    width: 50%;
    border-radius: 25px;
    margin-right: 25px;
  }
}
.search__icon {
  padding: 8px 10px;
}
.search__input_box {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
}
.search__input_box input {
  background-color: transparent;
  border: none;
  padding: 15px 10px;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .search__input_box input::placeholder {
    color: white;
  }
}

main {
  display: flex;
  flex-flow: column nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.reservation {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F2F2F2;
  padding: 35px 5px;
  width: 100%;
}
.reservation__text {
  margin-bottom: 25px;
}
.reservation__text h1 {
  font-family: "Shrikhand", serif;
  font-size: 21px;
  margin-bottom: 10px;
}
.reservation__text h2 {
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: bold;
}
.reservation__btn {
  display: inline-block;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 25px;
  font-size: 15px;
  font-weight: normal;
  color: white;
  box-shadow: 0 5px 15px 0 #c3c3c357;
  padding: 15px 25px;
  margin: 0 10px 20px 1px;
}
.reservation__btn:hover {
  background: linear-gradient(#FF79DA, rgba(147, 86, 220, 0.8));
  box-shadow: 0 5px 15px 0 #838383;
  transition: 0.5s;
}

.functioning {
  display: flex;
  flex-direction: column;
  margin: 18px 14px;
  padding: 5px;
}
.functioning__title {
  font-size: 20px;
  font-family: "Shrikhand", serif;
  margin-bottom: 20px;
}
.functioning__btn_box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
@media screen and (min-width: 1025px) {
  .functioning__btn_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
.functioning__btn {
  flex: 1 0 auto;
  margin-bottom: 20px;
  background: #e4e3e3;
  border-radius: 35px;
  text-align: justify;
  font-size: 20px;
  padding: 20px 8px;
  box-shadow: 0 5px 15px 0 #c3c3c357;
}
.functioning__btn:hover {
  background: #f0eaf8;
  box-shadow: 1px 1px 5px 1px #e1d2f3;
}
@media screen and (min-width: 1025px) {
  .functioning__btn {
    display: flex;
    margin-left: 20px;
    padding: 20px 8px;
  }
}
.functioning__btn--circle {
  position: absolute;
  text-align: center;
  background: #9356DC;
  color: white;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  left: 11px;
  margin-top: -5px;
  padding: 1px 2px;
}
@media screen and (min-width: 1025px) {
  .functioning__btn--circle {
    display: block;
    position: relative;
    left: -22px;
    top: 2px;
  }
}
.functioning__btn--icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  margin: 1px 0 0 30px;
  color: gray;
}
.functioning__btn--icon:hover {
  color: #9356DC;
}
@media screen and (min-width: 1025px) {
  .functioning__btn--icon {
    margin-left: 30px;
    margin-top: 3px;
  }
}
.functioning__btn--text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  font-weight: bold;
  font-family: "Shrikhand", serif;
}
@media screen and (min-width: 1025px) {
  .functioning__btn--text {
    margin-left: 30px;
  }
}

.store {
  background-color: #F2F2F2;
  padding: 15px;
  padding-top: 50px;
  margin-top: 100px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .store {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    height: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .store {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
    padding: 0px;
    height: 100%;
    background-color: white;
  }
}
.store__title {
  font-family: "Shrikhand", serif;
  font-size: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .store__title {
    padding: 20px 0 20px 20px;
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .store__title {
    position: absolute;
    top: 550px;
    margin-left: 15px;
  }
}
.store__card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 20px;
  box-shadow: 1px 5px 1px 1px #eeeeee;
  margin-bottom: 25px;
}
.store__card--img {
  width: 100%;
  object-fit: cover;
  max-height: 200px;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}
@media screen and (min-width: 1025px) {
  .store__card--img {
    max-width: 275px;
    height: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .store__card--img {
    max-width: 325px;
    height: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .store__card {
    margin: 10px;
  }
}
@media screen and (min-width: 1025px) {
  .store__card {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.store__card--new {
  background: #99E2D0;
  color: #18705c;
  position: absolute;
  top: 10px;
  right: -88px;
  margin: 5px 100px 0 150px;
  padding: 5px 15px;
  font-weight: bold;
  z-index: 1000;
}

.new {
  position: relative;
  max-height: 200px;
}

.card__text_and_icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 15px;
}
.card__text_and_icon h1 {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  margin-left: 15px;
  margin-bottom: 3px;
}
.card__text_and_icon p {
  font-family: "Roboto", serif;
  font-weight: bold;
  font-size: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.card__text_and_icon__heart {
  position: relative;
  margin-right: 20px;
  margin-top: 4px;
}
.card__text_and_icon__heart i {
  font-size: 25px;
  left: 50%;
}
.card__text_and_icon__heart i:active {
  background-color: #9356DC;
  overflow: hidden;
}

.footer {
  background: #353535;
  color: white;
  padding: 20px;
}
.footer__title--ohmy {
  font-family: "Shrikhand", serif;
  font-size: 20px;
  margin-bottom: 20px;
}
.footer__text {
  font-family: "Roboto", serif;
  font-weight: bold;
}
.footer__text--icon_one {
  margin-right: 15px;
}
.footer__text--icon_two {
  margin-right: 8px;
}
.footer__text li {
  margin-bottom: 8px;
}
.footer__text li a {
  color: white;
}

/*# sourceMappingURL=style.css.map */
